:root {
    --red: #c80d0d;
    --yellow: #f8ca05;
    --blue: #52b2cb;
    --orange: #ffa133;
    --green: #abdb9a;
    --dark: hsl(0, 0%, 14%);
    --light: hsl(0, 0%, 86%);
    --bords: 30px
}

* {
    line-height: 1.25;
}

html {
    background-color: var(--light);
}

/* Ensures list in about section has bullet points displayed. */
.list {
    list-style: inside;
}

/* Spaces out header including picture, name and navbar */
header {
    font-family: 'Reem Kufi Ink', sans-serif;
    border-bottom: var(--blue) solid 0.5rem;
    color: var(--light);
    background-color: var(--dark);
    /* outline: var(--dark) solid 0.5rem; */
}

.gradient-background {
	/* background: linear-gradient(-45deg, #2565b0, #2731b7, #2e21a3, #19106c, #250c58, #3c0c58, #441161, #4b1868, #622686, #823caa, #a759d4); */
	background: linear-gradient(-45deg, var(--red), var(--orange), var(--yellow));
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* navbar display */
.nav-bar a {
    color: 	var(--light);
    /* text-decoration: none; */
    border-left: 0.4rem solid var(--blue);
    border-top-left-radius: 10px;
    font-size: x-large;
    
}

/* ensures navbar links transition on hover. */
.nav-bar a:hover{
    background-color: var(--blue);
    color: var(--dark);
    border-right: 0.4rem solid var(--blue);
    font-size:xx-large;
    border-bottom-right-radius: 10px;
    transition: 0.5s;
    transition-delay: 0.05s;
}

#loaderContainer {
    color: var(--dark);
    font-family: 'Prompt', sans-serif;
    padding-top: 20vh;
    font-size:70px;
    font-weight: bolder;
};

.square {
    height: 100px;
    width: 100px;
    background-color: #abdb9a;
    position: fixed;
}

.about {
    border-radius: var(--bords);
    background-color: hsla(0, 0%, 14%, 0.568);
    color: var(--light);
    font-family: 'Prompt', sans-serif;
}

#about-header{
    border-top-left-radius: var(--bords);
    border-top-right-radius: var(--bords);
    background-color: var(--blue);
    color: var(--dark);
}

.projects {
    background-color: hsla(217, 71%, 53%, 0.459);
    color: var(--dark);
    border-top: 0.5rem solid var(--dark);
    border-bottom: 0.5rem solid var(--dark);
    font-family: 'Prompt', sans-serif;
}

.text-white {
    color: var(--light);
}

.text-black {
    color: var(--dark)
}

/* contact section. Maybe change to a floating sidebar in the future? */
.contact {
    background-color: hsla(0, 0%, 14%, 0.568);
    color: var(--light);
    border: 1rem solid hsla(217, 71%, 53%, 0.459);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    font-family: 'Prompt', sans-serif;
}

/* Eliminated borders on links in contact. Created too much havoc when changing to mobile displays */
 .contact a {
    color: 	var(--light);
    border-top-left-radius: 10px;
    font-weight: bold;
}

.contact a:hover{
    background-color: var(--blue);
    color: black;
    transition: 0.5s;
    transition-delay: 0.05s;
    border-bottom-right-radius: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Prompt', sans-serif;
} 

.cards {
	height: 400px;
	width: 400px;
    margin-left: 3rem;
}

.cardContent {
	text-align: center;
	position: relative;
	padding: 12rem;
	transition: transform 2s;
	background-color: var(--blue);
	transform-style: preserve-3d;
    border-radius: 15px;
}

.cards:hover .cardContent {
	transform: rotateY(0.5turn);
}

.cardFront,
.cardBack {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	transform-style: preserve-3d;
	backface-visibility: hidden;
}

.cardFront {
	/* background-color: lightgreen; */
	border: 1px solid black;
    border-radius: 15px;
	margin: 1rem;
	transform: translateZ(1rem);
}

.cardBack {
	/* transform: rotateX(0.5turn); */
	transform: rotateY(0.5turn);
	background-color: var(--dark);
    border-radius: 15px;
}

.card-header {
	font-size: 2rem;
    text-align: center;
    padding: 1rem;
	transform: translateZ(2rem);
	border-bottom: 2px solid black;
}

.card-content {
	transform: translateZ(1rem);
    padding: 1rem;
}

.cardBody {
	transform: translateZ(1rem);
}

#dinner {
    height: 360px;
    width: 360px;
}

#icons {
    padding-top: 5rem
}
