:root {
    --accent: #fbbd08;
    --dark: black;
    --light: white;
    --bords: 30px
}

* {
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.25;
}

/* Underlines all elements with class containing "underline" consider adding to other elements if underlining desired. */
/* *[class*=underline] {
    text-decoration: underline;
} */
/* Bolds all elements with class containing "bold" consider adding to other elements if bold text desired. */
/* *[class*=bold] {
    font-weight: bolder;
}

h1 {
    font-size: 450%;
}

h2 {
    font-size: 200%;
}

h3,
h4,
h5,
h6 {
    font-size: 150%;
} */

/* Ensures list in about section has bullet points displayed. */
.list {
    list-style: inside;
}

/* Spaces out header including picture, name and navbar */
header {
    background-color: var(--dark);
    color: var(--light);
    border-bottom: var(--accent) solid 0.5rem;
    outline: var(--dark) solid 0.5rem;
}

/* navbar display */
.nav-bar a {
    color: 	var(--light);
    text-decoration: none;
    border-left: 0.4rem solid var(--accent);
    border-right: 0.4rem solid var(--dark);
    border-top-left-radius: 10px;
}

/* ensures navbar links transition on hover. */
.nav-bar a:hover{
    background-color: var(--accent);
    color: var(--dark);
    border-right: 0.4rem solid var(--accent);
    font-size: xx-large;
    border-bottom-right-radius: 10px;
    transition: 0.5s;
    transition-delay: 0.05s;
}

/* Tried an aside, was not digging how it displayed or affected the layout. May consider bringing back in the future possibly as the navbar or a floating contact section?
Will definitely need some work to get it to display properly. */
/* aside {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    left:0%;
    height:100%;
    padding: 0 2rem;
    width: 10rem;
    max-width: 10rem;
    min-width: 6rem;
    flex-basis: 10rem;
    border-right: 0.5rem solid black;
    background-color: #ffcc33;
} */

.about {
    border: 0.25rem solid var(--dark);
    background-color: var(--accent);
}

.about-body {
    color: var(--dark)
}

#about-header{
    background-color: var(--dark);
    color: var(--light);
}

/* project banner */
.projects {
    background-color: var(--accent);
    color: black;
    border-top: 0.5rem solid var(--dark);
    border-bottom: 0.5rem solid var(--dark)
}

/* sets basic card sizing and display. */
 .card {
    opacity: 90%;
    border-bottom-left-radius: 30px; 
    border-bottom-right-radius: 30px; 
}  

 .card:hover{ 
    box-shadow: 
    0.4rem 0.4rem 1rem -0.1rem var(--dark), 
    1rem 1rem 1rem var(--accent),
    -0.1rem -0.1rem 1rem rgb(197, 197, 197); 
    transition:  0.2s linear;
    opacity: 100%;
}

/* contact section. Maybe change to a floating sidebar in the future? */
.contact {
    background-color: var(--dark);
    color: var(--light);
    border: 1rem solid var(--accent);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

/* Eliminated borders on links in contact. Created too much havoc when changing to mobile displays */
 .contact a {
    color: 	var(--light);
    border-top-left-radius: 10px;
    font-weight: bold;
}

.contact a:hover{
    background-color: var(--accent);
    color: black;
    transition: 0.5s;
    transition-delay: 0.05s;
    border-bottom-right-radius: 10px;
}

footer  {
    background-color: var(--dark);
    color: var(--light);
} 